doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1')
        title WebShop server
    body
        main
            h1 WebShop server features testing 
            fieldset 
                h2 Get all products 
                form(method='GET' action='/products')
                    input(type='submit', value="Get all products")
            fieldset 
                h2 Get products by category 
                form(method='GET' action='/products/category')
                    label(for="category") Kategoria:
                    br
                    select(name="category", required)
                        each c in categories
                            option(value=c) #{c}
                    br
                    br
                    input(type='submit', value="Get products")
                    input(type='reset')
            fieldset 
                h2 Get products by keywords 
                form(method='GET' action='/search_query')
                    label(for='query') Search bar:
                    br
                    input(name='query')
                    br
                    br
                    input(type='submit', value="Get products")
                    input(type='reset')
            fieldset 
                h2 Register an account 
                form(method='POST' action='/register')
                    label(for="firstname") Imię:
                    br
                    input(type="text", name="firstname", required)
                    br
                    label(for="lastname") Nazwisko:
                    br
                    input(type="text", name="lastname", required)
                    br
                    label(for="address") Adres:
                    br
                    input(type="text", name="address", required)
                    br
                    label(for="phone") Telefon:
                    br
                    input(type="text", name="phone", required)
                    br
                    label(for="email") Adres email:
                    br
                    input(type="text", name="email", required)
                    br
                    label(for="username") Nazwa użytkownika:
                    br
                    input(type="text", name="username", required)
                    br
                    label (co najmniej 5 znaków)
                    br
                    label(for="password") Hasło:
                    br
                    input(type="password", name="password", required)
                    br
                    label (co najmniej 8 znaków i co najmniej jedna duża litera i cyfra)
                    br
                    br
                    input(type="submit", value="Register")
                    br
                    input(type='reset')
            fieldset 
                h2 Login 
                form(method='POST' action='/login')
                    label(for="login") Login:
                    br
                    input(type="text", name="login", required)
                    br
                    label(for="password") Hasło:
                    br
                    input(type="password", name="password", required)
                    br
                    br
                    input(type="submit", value="Login")
                    br
                    input(type='reset')
            