doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1')
        title WebShop server
    body
        main
            - var prefix = "";
            if user 
                - prefix = "/user";
            if user 
                h1 WebShop server features testing - User Router
            else
                h1 WebShop server features testing - Index Router
            if user 
                fieldset 
                    form(method='GET' action='/user/profile')
                        input(type='submit', value="Adjust profile")
                    form(method='GET' action='/user/orders')
                        input(type='submit', value="Show orders")
                    form(method='GET' action='/user/wishlists')
                        input(type='submit', value="Show wishlists")
            fieldset 
                h2 Get all products 
                form(method='GET' action='/products')
                    input(type='submit', value="Get all products")
            fieldset 
                h2 Get products by category 
                form(method='GET' action='/products/category')
                    label(for="category") Kategoria:
                    br
                    select(name="category", required)
                        each c in categories
                            option(value=c.name) #{c.name}
                    br
                    br
                    input(type='submit', value="Get products")
                    input(type='reset')
            fieldset 
                h2 Get products by keywords 
                form(method='GET' action='/search')
                    label(for='query') Search bar:
                    br
                    input(name='query')
                    br
                    br
                    input(type='submit', value="Get products")
                    input(type='reset')
            if !user
                fieldset 
                    form(method='GET' action='/auth/sign-in')
                        input(type='submit', value="Sign in")
                    form(method='GET' action='/auth/sign-up')
                        input(type='submit', value="Sign up")
