h2 {
    text-align: center;
    margin: 20px;
}

#products-container {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
}