header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #f2f2f2;
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo img {
    height: 40px;
}

.logo p {
    font-size: 10px;
}

#input-container {
    position: relative;
}

input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

span {
    position: absolute;
    top: 4px;
    right: 5px;
}

#button-container > button {
    margin-left: 5px;
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#button-container > button:hover {
    background-color: #030fada8;
}

.cart-link {
    display: flex;
    align-items: center;
    color: #007bff;
    text-decoration: none;
    margin-left: 10px;
}

.user-controls .cart-link i {
    margin-right: 5px;
}